{% extends "layout.html.twig" %}
{% set active_page = "capitulo4" %}
{% block javascripts %}
    <script src="js/capitulo4/calcularImportes.js"></script>
{% endblock %}
{% block content %}
    <p>&nbsp;</p>
    <div class="page-header"><h1>Tu compra de la lista</h1></div>
    <div class="row">
        <div class="col-xs-12">
            <p>Entrada</p>
            <textarea rows="6" cols="40" id="entrada" class="form-control">
[
{ "id": 1, "title": "Maniac Mansion Videojuego", "ctd": 5, "pvp": 40 },
{ "id": 2, "title": "Consola XBOX Zero", "ctd": 1, "pvp": 300 },
{ "id": 3, "title": "Prison Break Temporada 76", "ctd": 2, "pvp": 15 }
] 
            </textarea>
            <p><button class="btn btn-primary" onclick="obtenerSalida()">Calcular</button></p>
            <p>Salida</p>
            <textarea rows="6" cols="40" id="salida" class="form-control">
            </textarea>

        </div>
    </div>

{% endblock %}
